<!--Pagina de estilo de detalles cuando le da al boton de mostrar producto-->

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
		
}

/*POSICION PARA EL 3D*/

.content-all { 

	margin-left: 550px;
	margin-top: 50px;
	width: 210px;
	perspective: 1000px;
	position: relative;

	
}


.content-carrousel	{

	width: 100%;
	position: absolute;
	animation: rotar 10s infinite linear;
	transform-style: preserve-3d;
	
}


.content-carrousel:hover  {

	animation-play-state: paused;
	cursor: pointer;

}



.content-carrousel figure {

	width: 100%;
	height: 196px;
	overflow: hidden;
	position: absolute;
	box-shadow: 0px 0px 20px 0px black;
	
}

.content-carrousel figure:hover{


	box-shadow: 0px 0px 0px 0px black;
	transition: all 300ms;

}



.content-carrousel figure:nth-child(1) {transform: rotateY(0deg) translateZ(300px);

}

.content-carrousel figure:nth-child(2) {transform: rotateY(40deg) translateZ(300px);

}

.content-carrousel figure:nth-child(3) {transform: rotateY(80deg) translateZ(300px);

}

.content-carrousel figure:nth-child(4) {transform: rotateY(120deg) translateZ(300px);

}

.content-carrousel figure:nth-child(5) {transform: rotateY(160deg) translateZ(300px);

}

.content-carrousel figure:nth-child(6) {transform: rotateY(200deg) translateZ(300px);

}

.content-carrousel figure:nth-child(7) {transform: rotateY(240deg) translateZ(300px);

}

.content-carrousel figure:nth-child(8) {transform: rotateY(280deg) translateZ(300px);

}

.content-carrousel figure:nth-child(9) {transform: rotateY(320deg) translateZ(300px);

}

.content-carrousel figure:nth-child(10) {transform: rotateY(360deg) translateZ(300px);

}


.content-carrousel img {

	width: 100%;
	
}

/*animacion se agrande*/

.content-carrousel img:hover {

	transform: scale(0.8);
	transition: all 300ms;
}

/*Controlar animacion esto para que rote*/

@Keyframes rotar {	

		from	{		transform: rotateY(0deg);

				}to{
					     transform: rotateY(360deg);
	


	}
}

/*Termina carrousel*/

/*Donde esta el nombre del producto*/


#tarjeta	{

	margin-top: 370px;
}

#descripcion {

	margin-top: -475px;
	margin-left: 0px;
}

#descripcion2 {

	margin-top: -16px;
	margin-left: 0px;
}

/*Posición del boton*/

#descripcion3	{

	margin-top: 300px;
	margin-left: 90px;
}

/*Posición del boton*/

#descripcion4	{

	margin-top: 320px;
	margin-left: 40px;
}


/*Posición del carrito compras*/

#descripcion5	{

	margin-top: 320px;
	margin-left: 40px;
}


#pie  {
		margin-top: 980px;
		margin-left: 0px;
}

/*Posición boton paypal*/
/*#paypal {
		margin-top: 50px;
		margin-left: 300px;
		width: 400px;
		height: 50px;
}*/

/*Posición de las cuatro imágenes del producto*/

.imagenes	{	width: 80px;
				height: 80px;
				margin-top: -410px;
				margin-left: 220px;


			}


/*Posicion de la flecha de abajo*/

/* como sera el boton que me lleve para arriba la flecha */
.crunchify-top:hover {
	background-color: #DBE6FF;
	color: #fff !important;
	text-decoration: none;

}

.crunchify-top {

	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 3.2rem;
	bottom: 1rem;
	color: #fff;
	cursor: pointer;
	display=none;
	font-size: 1.4rem;
	height: 3.2rem;
	line-height: 3.2rem;
	position: fixed;
	right: 1rem;
	text-align: center;
	text-decoration: none;
	width: 3.2rem;

}

/* aqui esta el pie de mi página de detalles*/


.footer	{

	background: #5080ef none repeat scroll 0 0;
	border-radius: 5px;
	bottom: 0;
	display: flex;
	height: 100px;
	margin-top: 0px;
	width: 100%;
}

.footimg	{

	margin-left: 39%;
	margin-top: 18px;
	text-align: center;
}